---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="矯正歯科について" currentPage="about">

	<section>
		<div class="box p-30-0">
			<div class="flex-start-end mb-30">
				<div class="col-md-4 p-4">
					<h2 class="heading-1 indent-2">Orthodontic<br />Treatment</h2>
				</div>
				<div class="col-md-4 p-4">
					<div class="heading-2"><h2>矯正歯科について</h2></div>
				</div>
			</div>
			<div class="flex">
				<div class="col-md-4 p-10">
					<figure>
						<a href="/tem/about/"><img src="/tem/images/img1.jpg" width="720" height="480" alt="矯正について詳しく" loading="lazy" /></a>
						<figcaption><a href="/tem/about/" class="font-1">矯正について詳しく</a></figcaption>
					</figure>
				</div>
				<div class="col-md-8 p-10">
					<div class="box-1 mb-30">
						<h3 class="heading-4 mb-20">矯正歯科について　目次</h3>
						<ul>
							<li class="mb-10 indent-2"><a href="#about-1" class="heading-3 _page-link">1- 理想の歯並び、かみ合わせ</a></li>
							<li class="mb-10 indent-2"><a href="#about-2" class="heading-3 _page-link">2- 患者さんの治療目標</a></li>
							<li class="mb-10 indent-2"><a href="#about-3" class="heading-3 _page-link">3- 矯正治療の抜歯、非抜歯</a></li>
						</ul>
					</div>
					<div class="box-1">
						<p class="mb-20 font-m">日本人は誰もが歯並びの悩みを持っているものです。矯正治療によって予想以上の結果を生み出すことも不可能ではありません。少しでも気になるようでしたら、是非一度ご相談下さい。そしてご自身の状態をよく認識して下さい。お子様から成人まで、状況によって提供させて頂く治療内容も異なります。ご自身の認識は、早期に越したことはありません。<br />
<br />
当院の矯正治療は、患者様の納得・協力のもとに提供させて頂いております。歯並びの悩みが少しでも減少する地域を目指して精一杯矯正治療を提供させて頂きます。</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="about-1">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">1- Dentition</h3>
					<h4 class="font-s">理想の歯並び</h4>
				</div>
				<div class="col-md-8 p-4">
					<div class="heading-1 mb-30"><h4>理想の歯並び、かみ合わせ</h4></div>
					<p class="mb-30">歯並びや咬み合わせは、呼吸、咀嚼、発音などの生命維持の基本にかかわる大切な体の一部です。長い生涯を通して健康的に維持するために、審美的な面だけではなく、機能においても優れた状態に整えなければなりません。上の歯は下の歯を外側から覆うように咬み合うために、下の歯よりも大きく作られています。<br />

顎の大きさと歯の大きさのバランスがあっていなく、歯並びがでこぼこしていたり、上あごと下あごのもともとの大きさがアンバランスなとき、さらに1本だけ小さい歯がある、冠を被せてある歯がある、抜けてしまった歯がある…などの場合には、重なりやすき間、咬み合わせの深さなどに支障を来すことがありますので、あらかじめ対処法を考えておかなければなりません<br />
<br />
歯の並ぶ位置で大切なのは上下の6歳臼歯の咬み合う位置が正しいかどうかということです。
</p>
					<div class="flex">
						<!--<div class="center col-md-6 mb-10"></div>
						<div class="center col-md-6 mb-10"></div>-->
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="about-2">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">2- Each person's goal</h3>
					<h4 class="font-s">治療目標</h4>
				</div>
				<div class="col-md-8 p-4">
					<div class="heading-1 mb-30"><h4>患者さんひとりひとりの治療目標</h4></div>
					<p class="mb-30">

矯正歯科治療では患者様それぞれの資料をもとに不正咬合を構成している原因を解明し、<br />
<br />
    1.歯をどのように並べるの？<br />
    2.口元はどの位置に、横顔はどんな形になるの？<br />
    3.歯と歯周組織の状態はどうなるの？<br />
    4.保定後の安定はどうなるの？<br />
    5.治療期間は？<br />
    6.費用は？<br />
<br />
このように具体的な目標を定め、その目標に確実に到達するために計画的に矯正歯科治療をスタートします。<br />
<br />
患者様のお口の中の状況は千差万別です。<br />
ひとりひとり目指す目標にも違いがあるため誰もが同じ治療方針とは限りません。<br />
各々の目標に到達するために、ある人は歯を抜く必要があり、ある人は抜く必要がない場合もあるということです。<br />また、抜歯部位、本数も人により異なるのです。
</p>
					<div class="flex">
						<!--<div class="center col-md-6 mb-10"></div>
						<div class="center col-md-6 mb-10"></div>-->
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="about-3">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">3- 矯正治療の抜歯、非抜歯</h3>
					<h4 class="font-s">Tooth extraction</h4>
				</div>
				<div class="col-md-8 p-4">
					<div class="heading-1 mb-30"><h4>矯正治療の抜歯、非抜歯</h4></div>
					<p class="mb-30">歯を抜くという行為は、たとえ矯正歯科治療のためであっても一時的に体にダメージを与えることには変わりありません。しかし、治療の方針上、不可欠で、一時的にダメージと思えても一生を通じて得られるメリットが大きい場合には、必要なことだと私たちは考えています。<br />
抜歯は大切な問題です。抜歯することにより、どのような変化が認められるのか。また、反対に抜歯しないとどうなるのか。それぞれのメリットとデメリットについて、納得ゆくまで医師に話を聞いてみて下さい。<br />
矯正歯科治療を行う上での最終目的は、永久歯列を顔（軟組織＝口唇や口の周りの筋肉など）とのバランスを考えながら、整然と機能的に整えることです。「歯を抜かないこと」は矯正歯科治療の目的ではありません。</p>
					<div class="flex">
						<!--<div class="center col-md-6 mb-10"></div>
						<div class="center col-md-6 mb-10"></div>-->
					</div>
				</div>
			</div>
		</div>
	</section>

</BaseLayout>
