---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="アクセス" currentPage="access">

		<section>
		<div class="box p-30-0">
			<div class="flex-start-end mb-30">
				<div class="col-md-4 p-4">
					<h2 class="heading-1 indent-2">ACCESS</h2>
				</div>
				<div class="col-md-4 p-4">
					<div class="heading-2"><h2>アクセス</h2></div>
				</div>
			</div>
		</div>
	</section>
	
	<section>
		<div class="box">
			<div class="flex">
				<div class="col-md-3 mb-30">
					<div class="heading-3">ADDRESS</div>
					<p class="mb-10">
						〒950-2035<br />新潟県新潟市西区新通2757-3<br>
						025-378-5302
					</p>
					<div class="heading-3">OPEN</div>
					<p>
						9:00〜17:00<br>
						休診日:木曜・日曜・祝日
					</p>
				</div>
				<div class="col-md-9 mb-30">
					<div class="mb-30">
						<div class="center lg">
							</div>
						<div class="center hide-lg">
							</div>
					</div>
					<div class="gmap">
						<iframe  width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12600.05747776114!2d138.9571559!3d37.8599542!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xef4eb017fb8bc5fb!2z5paw5r2f6KW_5q2v56eR44Kv44Oq44OL44OD44Kv!5e0!3m2!1sja!2sjp!4v1604018402103!5m2!1sja!2sjp"></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>


</BaseLayout>
