---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="選べる矯正装置" currentPage="bracketindex">

	<section>
		<div class="box p-30-0">
			<div class="flex-start-end mb-30">
				<div class="col-md-4 p-4">
					<h2 class="heading-1 indent-2">Choice Bracket</h2>
				</div>
				<div class="col-md-4 p-4">
					<div class="heading-2"><h2>選べる矯正装置</h2></div>
				</div>
			</div>
			<div class="flex">
				<div class="col-md-4 p-10">
					<figure>
						<a href=""></a>
						<figcaption><a href="" class="font-1">選べる矯正装置</a></figcaption>
					</figure>
				</div>
				<div class="col-md-8 p-10">
					<div class="box-1 mb-30">
						<h3 class="heading-4 mb-20">選べる矯正装置　目次</h3>
						<ul>
							<li class="mb-10 indent-2"><a href="#adult-1" class="heading-3 _page-link">1- 大人の矯正</a></li>
							<li class="mb-10 indent-2"><a href="#adult-2" class="heading-3 _page-link">2- 子供の矯正</a></li>
						</ul>
					</div>
					<div class="box-1">
						<p class="mb-20 font-m">数ある矯正方法の中からひとりひとりの希望にあった治療の選択肢をご提案し、オーダーメイドの矯正治療プランをお作りしています。</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="adult-1">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">1- 大人の矯正装置</h3>
				</div>
				<div class="col-md-8 p-4">
					<section>
						<div class="heading-1 mb-30"><h4>大人の矯正装置の種類</h4></div>
						<div class="box-1 mb-20 font-m">
							<p>裏側矯正・・・矯正していることが全く分からない見えない矯正治療です。<br />
ホワイトワイヤー・・・透明な装置と白いワイヤーでほとんど装置が目立ちません。<br />
マウスピース・・・矯正透明な取り外し式のマウスピースで歯を並べていきます。</p>
						</div>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>スタンダードプラン</h4></div>
						<div class="flex">
							<div class="col-md-8 mb-30">
								<div class="box-1 mb-20 font-m">
									<p>装置は、オーソデントラムのアイパス２を使用しています。透明度が高く、耐久性もあります。スタンダードプランではワイヤーはシルバーまたはゴールドワイヤーを使用します。</p>
								</div>
							</div>
							<figure class="center col-md-4 mb-30">
								</figure>
						</div>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>ホワイトワイヤープラン</h4></div>
						<div class="flex">
							<div class="col-md-8 mb-30">
								<div class="box-1 mb-20 font-m">
									<p>表側でも、なるべく目立たない装置を希望される患者さまにおすすめです。</p>
									<p>ホワイトのワイヤーはゴールドワイヤーより審美性が高く、美しさに勝ります。</p>
								</div>
							</div>
							<figure class="center col-md-4 mb-30">
								</figure>
						</div>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>ハーフリンガルプラン</h4></div>
						<div class="flex">
							<div class="col-md-8 mb-30">
								<div class="box-1 mb-20 font-m">
									<p>「ハーフリンガルプラン」は、上は裏側、下は表側のハーフリンガルプランです。下は下唇があるので目立たないです</p>
								</div>
							</div>
							<figure class="center col-md-4 mb-30">
								</figure>
						</div>
					</section>
					
					<section>
						<div class="heading-1 mb-30"><h4>フルリンガルプラン</h4></div>
						<div class="flex">
							<div class="col-md-8 mb-30">
								<div class="box-1 mb-20 font-m">
									<p>上下とも裏側のプランです。表側からは矯正していることが全くわかりません。</p>
								</div>
							</div>
							<figure class="center col-md-4 mb-30">
								</figure>
						</div>
					</section>
					
					<section>
						<div class="heading-1 mb-30"><h4>マウスピース(簡易型)</h4></div>
						<div class="flex">
							<div class="col-md-8 mb-30">
								<div class="box-1 mb-20 font-m">
									<p>透明なマウスピースを使用して歯を並べる矯正治療です。透明なので目立ちにくく取外しも出来るので便利です。歯を抜かないで症例に適用した装置です。</p>
								</div>
							</div>
							<figure class="center col-md-4 mb-30">
								</figure>
						</div>
					</section>
					
					<section>
						<div class="heading-1 mb-30"><h4>マウスピース(進化型)</h4></div>
						<div class="flex">
							<div class="col-md-8 mb-30">
								<div class="box-1 mb-20 font-m">
									<p>新しいシステム、歯を抜く症例にも適用可能な全般的な治療が可能。</p>
								</div>
							</div>
							<figure class="center col-md-4 mb-30">
								</figure>
						</div>
					</section>
					
						</div>
			</div>
		</div>
	</section>
					
					
	<section id="adult-2">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">2- 子供の矯正装置</h3>
				</div>
				<div class="col-md-8 p-4">
					<section>
						<div class="heading-1 mb-30"><h4>拡大装置</h4></div>
						<div class="flex">
							<div class="col-md-8 mb-30">
								<div class="box-1 mb-20 font-m">
									<p>夜寝ている時間のみの使用です。<br />簡単な取り外し式なので小学生１年生の子でも自分で取り外しできます。<br />決められた日にちごとに真ん中にあるネジを必ずおうちの人に回していただきます。
</p>
								</div>
							</div>
							<figure class="center col-md-4 mb-30">
								</figure>
						</div>
					</section>
										
				</div>
			</div>
		</div>
	</section>

</BaseLayout>
