---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="子どもの矯正治療" currentPage="children">

	<section>
		<div class="box p-30-0">
			<div class="flex-start-end mb-30">
				<div class="col-md-4 p-4">
					<h2 class="heading-1 indent-2">Orthodontic Treatment<br /> for Children</h2>
				</div>
				<div class="col-md-4 p-4">
					<div class="heading-2"><h2>子どもの矯正治療</h2></div>
				</div>
			</div>
			<div class="flex">
				<div class="col-md-4 p-10">
					<figure>
						<a href=""><img loading="lazy" src="/tem/images/img3-1.jpg" width="" height="" alt=""></a>
						<figcaption><a href="" class="font-1">子どもの矯正治療</a></figcaption>
					</figure>
				</div>
				<div class="col-md-8 p-10">
					<div class="box-1 mb-30">
						<h3 class="heading-4 mb-20">子どもの矯正治療　目次</h3>
						<ul>
							<li class="mb-10 indent-2"><a href="#children-1" class="heading-3 _page-link">1- 子どもの矯正装置</a></li>
							<li class="mb-10 indent-2"><a href="#children-5" class="heading-3 _page-link">2- 小児矯正で使用する装置</a></li>
							<!--
							<li class="mb-10 indent-2"><a href="#child-1" class="heading-3 _page-link">1- 11歳までに治療を開始する理由</a></li>
							<li class="mb-10 indent-2"><a href="#child-2" class="heading-3 _page-link">2- でこぼこを治すには</a></li>
							<li class="mb-10 indent-2"><a href="#child-3" class="heading-3 _page-link">3- 出っ歯を矯正するには</a></li>
							-->
						</ul>
					</div>
					<div class="box-1">
						<p class="mb-20 font-m">簡単な取り外し装置で歯並びが変わる！<br />着けるのは夜寝るときだけ</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="children-1">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">1- 子どもの矯正治療</h3>
				</div>
				<div class="col-md-8 p-4">
					<div class="box-1 mb-20 font-m">
						<p>小児矯正とは、子供の時期に行う矯正治療のことです。</p>
						<p>歯列矯正は大人になってからでも可能ですが、子供の時期から矯正を行うことによってより理想的な治療を行うことが出来る場合があります。</p>
						<br />
						<p>その理由は、大人は顎骨の成長が終わってしまっているので歯を動かすだけの矯正になってしまいますが、子供はまだ成長段階にあるので、ある程度アゴの成長をコントロールしながら矯正を行うことが出来るからです。</p>
						<br />
						<p>「最近の子どもはあごが細い」</p>
						<p>「噛む力が弱くなっている」</p>
						<br />
						<p>という話を耳にしたことはありませんか？</p>
						<br />
						<p>噛む力が弱くなってあごが発達せず細いままでいると、正しい位置に歯が生えず歯並び・噛み合わせが悪くなってしまいます。</p>
						<p>昔では起こり得なかった問題が現代の子供たちの口に起こっているのです。</p>
						<p>本来、乳歯が抜けて一回り大きな永久歯に生え替わる時期には、あごが鍛えられて大きく成長していなければなりません。</p>
						<p>しかし、やわらかい物ばかり食べているとあごが発達せず、永久歯が生えてきても十分なスペースが足りなくなってしまいます。</p>
						<br />
						<p>すると、狭いスペースに永久歯が乱れて生えてきて、歯並びが悪くなるのです。</p>
					</div>
					<section id="children-2">
						<div class="heading-1 mb-30"><h4>子どもの矯正を始める時期は?いつから始めたらいいの？</h4></div>
						<div class="box-1 mb-20 font-m">
							<p>成長期を利用する治療なので期間限定ですが、その時期も人によってさまざまです。</p>
							<p>下のおとなの前歯４本と上のおとなの前歯２本が生えてきた頃がちょうど良いタイミングです。</p>
							<br />
							<p>女の子６才～10才</p>
							<p>男の子7才～11才</p>
							<br />
							<p>開始時期はこの間であれば改善が見込めます。</p>
						</div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/zouka.jpg" alt="子どもの矯正を始める時期は?いつから始めたらいいの？" />
						</figure>
						<div class="box-1 mb-20 font-m">
							<p>女の子と男の子でも成長のスパートと時期が異なります。</p>
							<p>個人差はありますが、女の子のほうが男の子よりも早く始まり早く終了します！</p>
						</div>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>歯の生え変わりはいつごろ終了するの？</h4></div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/child_002.jpg" alt="子どもの矯正を始める時期は?いつから始めたらいいの？" class="mb-10 " /><br />
							<figurecaption>上あごのほうが早くピークを迎え、下あごの成長は長く続きます。</figurecaption>
						</figure>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>平均的な歯の生え変わり時期</h4></div>
						<div class="box-1 mb-20 font-m">
							<p>適正な時期が過ぎてしまうと、永久歯が生え揃ってしまいます。 すると
							<ul class="list-1">
								<li>治療期間が長くなってしまう</li>
								<li>取り外し式の装置ではなくなってしまう</li>
								<li>抜歯しなくてはいけなくなる可能性が上がる</li>
								<li>費用が高くなる</li>
							</ul>
							といったデメリットが出てきてしまいます。</p>
							<p>特に思春期のお子様にとっては、「寝ているときだけの装置」で治療できるのは大きなメリットではないでしょうか？</p>
						</div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/2020111104_02-1.jpg" alt="平均的な歯の生え変わり時期" class="mb-10 " />
						</figure>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>小児矯正は特別な治療？</h4></div>
						<div class="box-1 mb-20 font-m">
							小児矯正とは、子供の時期に行う矯正治療のことです。
						</div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/20201104_03.jpg" alt="生えてくる順番" class="mb-10 " />
						</figure>
						<div class="box-1 mb-20 font-m">
							<p>歯列矯正は大人になってからでも可能ですが、子供の時期から矯正を行うことによってより理想的な治療を行うことが出来る場合があります。</p>
							<p>その理由は、大人は顎骨の成長が終わってしまっているので歯を動かすだけの矯正になってしまいますが、子供はまだ成長段階にあるので、ある程度アゴの成長をコントロールしながら矯正を行うことが出来るからです。</p>
							<p>大人の歯並びになるにつれて歯並び、かみ合わせに不具合が生じてきます。</p>
							<p>つまり子供の矯正は不具合が生じる前の予防矯正となります。</p>
						</div>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>大人の矯正に移行する可能性とメリット</h4></div>
						<div class="box-1 mb-20 font-m">
							<p>子供の時期（歯の生え変わりの時期）は、骨の成長が起こるため、あごが発達しやすい時期です。</p>
							<br />
							<p>この時期は歯の移動だけではなく、あごの発達も視野に入れて治療（１期治療）を行います。</p>
							<br />
							<p>この時期での治療はあくまで将来的に歯並び・かみ合わせが有利な状態となるための治療です。</p>
							<br />
							<p>もちろんこの時期での治療によってすべての患者様が将来的に治療が１００％必要なくなるわけではありません。</p>
							<p>ただし、この時期での治療によって
							<ol class="list-1">
								<li>１：将来的に抜歯をせずに治療が行える</li>
								<li>２：将来的治療期間が短期間で済む</li>
								<li>３：取り外し装置によって精神的負担が軽減できる</li>
							</ol>
							<br />
							などの大きなメリットがあるため、非常に重要な治療時期であることは間違いありません。</p>
							<p>成長の予測身長の予測ができないことと同じであごの骨の予測も誰にもできません。</p>
							<p>つまり骨のコントロールには子供の矯正では完全に防げない場合もあります。</p>
							<br />
							<p>その場合は大人の矯正治療に移行する場合もあります。</p>
						</div>
					</section>
			<!--
					<section>
						<div class="heading-1 mb-30"><h4>子供の矯正治療って必要？</h4></div>
						<div class="box-1 mb-20 font-m">
							<p>色々な歯の悩みがあるかと思いますが、現在、日本人の子供の歯の治療に関して「歯並び」や「かみ合わせ」が気になる人は、全体の70％を占めているのです。</p>
						</div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/20201104_007.png" alt="現在の日本人の子供 歯並び、かみ合わせが気になる人" class="mb-10 " />
						</figure>
					</section>
-->
					<section id="children-3">
						<div class="heading-1 mb-30"><h4>でこぼこはどうしてできるの？</h4></div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/dekoboko2.png" alt="でこぼこはどうしてできるの？" class="mb-10 " />
						</figure>
						<div class="box-1 mb-20 font-m">
							<p>歯は土台となるあごの骨に支えられています。</p>
							<p>この歯の大きさに対して、土台の大きさ・長さのバランスが小さいことによってでこぼこが生じます。</p>
						</div>
					</section>
					<section id="children-4">
						<div class="heading-1 mb-30"><h4>前歯の出っ張りはどうしてなるの？</h4></div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/agonomihata.png" alt="前歯の出っ張りはどうしてなるの？" class="mb-10 " />
						</figure>
						<div class="box-1 mb-20 font-m">
							<p>前歯の出っ張りの原因は、前歯のみが傾斜して出ている場合と、土台のあご（上顎）が出ている場合に分かれます。</p>
							<p>つまり・・原因によって治療内容は異なります。</p>
						</div>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>骨にアプローチをするとは？出っ歯</h4></div>
						<div class="box-1 mb-20 font-m">
							<p>出っ歯は上あごの大きさが通常よりも大きい場合、もしくは下あごが未発達の場合に生じます。
							<ul>
							<li>上あごの成長を抑制し、全体的に後ろへ下げる。</li>
							<li>下あごの成長を前に促進させてあげる</li>
							</ul>
							土台の骨にアプローチしていきます！</p>
						</div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/deltupapa.png" alt="骨にアプローチをするとは？出っ歯" class="mb-10 " />
						</figure>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>受け口はどうしてなるの？</h4></div>
						<div class="box-1 mb-20 font-m">
							<p>骨格的問題(遺伝)</p>
							<p>両親の遺伝によるもの。放っておくと下あごが成長し、悪化する。</p>
						</div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/ukeguchi.png" alt="受け口はどうしてなるの？" class="mb-10 " />
						</figure>
						<div class="box-1 mb-20 font-m">
							<p>歯が傾斜して生えてきたり、でこぼこなどで当たってしまい下の前歯が前に誘導されてきてる状態、この場合も早期に治療が必要。</p>
						</div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/uke_002.png" alt="受け口はどうしてなるの？" class="mb-10 " />
						</figure>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>骨にアプローチをするとは？受け口</h4></div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/ukeguchi_0246.png" alt="骨にアプローチをするとは？受け口" class="mb-10 " />
						</figure>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>症例</h4></div>
						<p>※クリックで拡大します</p>
						<div class="flex">
							<figure class="center col-md-6 mb-30">
								<figurecaption>『矯正治療前』</figurecaption><br />
								<a href="/tem/images/20200930_02.png">
									<img loading="lazy" src="/tem/images/20200930_02.png" alt="矯正治療前" />
								</a>
							</figure>
							<figure class="center col-md-6 mb-30">
								<figurecaption>『矯正治療後』</figurecaption><br />
								<a href="/tem/images/20200930_03.png">
									<img loading="lazy" src="/tem/images/20200930_03.png" alt="矯正治療後" />
								</a>
							</figure>
						</div>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>矯正装置代　分割支払いについて</h4></div>
						<div class="box-1 mb-20 font-m">
							<ul class="list-1">
								<li>装置代のお支払は手数料なしの分割システムも導入しております。</li>
								<li>検査によって治療期間が予測され、月換算したものが分割上限となります。<br />
								（例：予測治療期間2年⇒月換算24か月⇒分割上限回数24回）</li>
							</ul>
						</div>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>詳しい矯正歯科治療について</h4></div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<section id="children-5">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">2- 小児矯正で使用する装置</h3>
				</div>
				<div class="col-md-8 p-4">
					<section>
						<div class="heading-1 mb-30"><h4>拡大装置</h4></div>
						<p class="box-1 mb-30">装置中央にあるネジを回すことによって左右の幅が拡がります。生え変わり中の時期は、この拡大によって土台の骨が拡大されやすく将来のでこぼこを予防できる可能性が高い装置です。<br />装置は取り外し式で、１日８時間以上(夜寝てるときだけ)使用していただきます。</p>
						<div class="mb-30">
							<h5 class="heading-5 mb-10">治療の特徴</h5>
							<ul class="list-1 box-1">
								<li>あごが大きくなるよう促進します</li>
								<li>付け加えてあるワイヤーで前歯の並びを整えます</li>
							</ul>
						</div>
						<div class="mb-30">
							<h5 class="heading-5 mb-10">装置の特徴</h5>
							<ul class="list-1 box-1">
								<li>痛みはありません</li>
								<li>異物感はあります</li>
								<li>装置出し入れはお子様ご自身で簡単に出来ます</li>
							</ul>
						</div>
						<div class="box-1 mb-30">
							<p>夜寝ている時間のみの使用です。</p>
							<p>簡単な取り外し式なので小学生１年生の子でも自分で取り外しできます。</p>
							<p>決められた日にちごとに真ん中にあるネジを必ずおうちの人に回していただきます。</p>
						</div>
						<div class="flex">
							<figure class="center col-md-6 mb-30">
								<img loading="lazy" src="/tem/images/20200930_02.png" alt="調節" />
							</figure>
							<figure class="center col-md-6 mb-30">
								<img loading="lazy" src="/tem/images/20200930_03.png" alt="オーダーメイド" />
							</figure>
						</div>
						<div class="center mb-30">
							<figure><img loading="lazy" src="/tem/images/20200930_03.jpg" alt="調節" /></figure>
						</div>
						<div class="flex">
							<figure class="center col-md-6 mb-30">
								<img loading="lazy" src="/tem/images/1-2-1-1.gif" alt="装置を入れる時" class="mb-10 " /><br />
								<figurecaption>装置を入れる時</figurecaption>
							</figure>
							<figure class="center col-md-6 mb-30">
								<img loading="lazy" src="/tem/images/2-3-1-1.gif" alt="装置を外す時" class="mb-10 " /><br />
								<figurecaption>装置を外す時</figurecaption>
							</figure>
						</div>
						<div class="mb-30">
							<h5 class="heading-5 mb-10">取り扱い</h5>
							<p>使用はご自宅内のみです。</p>
							<ul class="list-1 box-1">
								<li>睡眠時は必須です。</li>
								<li>装置内のネジを保護者の方に回して頂きます。</li>
								<li>お子様ご自身で取り外ししていただきます。</li>
								<li>お手入れは、歯ブラシを使った水洗いです。</li>
							</ul>
						</div>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>装置による反応</h4></div>
						<div class="mb-10">
							<img loading="lazy" src="/tem/images/after.png" width="" height="" alt="">
						</div>
						<div class="mb-30">
							<h5 class="heading-5 mb-10">治療期間</h5>
							<ul class="list-1 box-1">
								<li> すべての大人の歯が生えてくるまで装置を使用していただきます。</li>
							</ul>
						</div>
						<div class="mb-30">
							<h5 class="heading-5 mb-10">注意点</h5>
							<ul class="list-1 box-1">
								<li>使用が不足すると治療が予定通り進みません。</li>
								<li>成長する量によって結果を伴いますので、不確実要素がある治療です。</li>
								<li>大人の歯に変わってからの治療を行う可能性があります。</li>
							</ul>
						</div>
					</section>
					<section>
						<div class="heading-1 mb-30"><h4>バイオネーター</h4></div>
						<div class="mb-30">
							<h5 class="heading-5 mb-10">治療の特徴</h5>
							<ul class="list-1 box-1">
								<li>かみ合わせを整えます。</li>
								<li>上の前歯を引っ込める力がかかります。</li>
								<li>付け加えてあるワイヤーで前歯の並びを整えます。</li>
							</ul>
						</div>
						<div class="flex">
							<figure class="center col-md-6 mb-30">
								<img loading="lazy" src="/tem/images/bio3-1.png" alt="バイオネーター" />
							</figure>
							<figure class="center col-md-6 mb-30">
								<img loading="lazy" src="/tem/images/bio3-2.png" alt="バイオネーター" />
							</figure>
						</div>
						<div class="mb-30">
							<h5 class="heading-5 mb-10">装置の特徴</h5>
							<ul class="list-1 box-1">
								<li>痛みはありません。</li>
								<li>異物感はあります。</li>
								<li>装置出し入れはお子様ご自身で簡単に出来ます。 </li>
							</ul>
						</div>
						<div class="mb-30">
							<h5 class="heading-5 mb-10">バイオネータの取り扱いについて</h5>
							<ul class="list-1 box-1">
								<li>使用は睡眠時のみです。</li>
								<li>お子様ご自身で取り外ししていただきます。</li>
								<li>お手入れは、歯ブラシを使った水洗いです。 </li>
							</ul>
						</div>
						<figure class="center mb-30">
							<img loading="lazy" src="/tem/images/torisu_syouni_vaio.png" alt="バイオネータの取り扱いについて" />
						</figure>
						<div class="mb-30">
							<h5 class="heading-5 mb-10">バイオネータの注意点</h5>
							<ul class="list-1 box-1">
								<li>使用が不足すると治療が予定通り進みません。</li>
								<li>成長する量によって結果を伴いますので、不確実要素がある治療です。</li>
								<li>最初の頃は起きた際に外れることがあります。</li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	

</BaseLayout>
