---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="矯正治療の流れ" currentPage="flow">

	<section>
		<div class="box p-30-0">
			<div class="flex-start-end mb-30">
				<div class="col-md-4 p-4">
					<h2 class="heading-1 indent-2">Orthodontic<br />Treatment</h2>
				</div>
				<div class="col-md-4 p-4">
					<div class="heading-2"><h2>矯正治療の流れ</h2></div>
				</div>
			</div>
			<div class="flex">
				<div class="col-md-4 p-10">
					<figure>
						<a href=""><img loading="lazy" src="/tem/images/img1.jpg" width="" height="" alt=""></a>
					</figure>
				</div>
				<div class="col-md-8 p-10">
					<div class="heading-1 mb-30"><h4>初診、カウンセリング…40分</h4></div>
					<div class="box-1 font-m mb-30">
						<p>問診票に記入して頂きます。</p>
						<p>お口の中を拝見後、色々なご質問にお答えしていきます。</p>
						<p>患者さまが少しでも矯正治療に対する不安や疑問を解消できるように、当院では無料相談を行なっております。</p>
					</div>
					<div class="heading-1 mb-30"><h4>検査…40分</h4></div>
					<div class="box-1 font-m mb-30">
						<p>レントゲン撮影、型採り、顔、口腔内写真を行い患者さまの噛み合わせ、骨格的状態を把握するため詳しく検査、分析します。</p>
					</div>
					<div class="heading-1 mb-30"><h4>診断…30分</h4></div>
					<div class="box-1 font-m mb-30">
						<p>検査結果を元に治療方針・治療期間をご提案し、患者さま伴に、今後の治療方針を決定いたします。</p>
					</div>
					<div class="heading-1 mb-30"><h4>必要に応じて治療、抜歯</h4></div>
					<div class="box-1 font-m mb-30">
						<p>診断後、治療および抜歯が必要となった方は計画的に（たとえば装置装着時までに）その処置を済ませて頂きます。</p>
					</div>
					<div class="heading-1 mb-30"><h4>装置装着</h4></div>
					<div class="box-1 font-m mb-30">
						<p>※症例により使用する装置、装着時間が異なります。</p>
					</div>
					<div class="heading-1 mb-30"><h4>保定</h4></div>
					<div class="box-1 font-m mb-30">
						<p>歯並びが整い矯正装置がはずれた後は、動かした歯がしっかりとその場に落ち着くように押さえておくための保定装置（リテーナー）を装着します。</p>
						<p>毎月来院していただく必要はありませんが、3ヶ月、6ヶ月、1年に一度、装置のチェックにお越しいただきます。</p>
					</div>
					<div class="heading-1 mb-30"><h4>資料採取</h4></div>
					<div class="box-1 font-m mb-30">
						<p>矯正歯科治療終了時、および保定終了時（2年後）に資料（終了後の検査）を採ります。治療前後、保定終了時のそれらの資料を元に治療結果についてのお話をいたします。</p>
					</div>
					<!--
					<div class="box-1 mb-30">
						<h3 class="heading-4 mb-20">矯正治療の流れ　目次</h3>
						<ul>
							<li class="mb-10 indent-2"><a href="#flow-1" class="heading-3 _page-link">1- xxx</a></li>
							<li class="mb-10 indent-2"><a href="#flow-2" class="heading-3 _page-link">2- xxx</a></li>
							<li class="mb-10 indent-2"><a href="#flow-3" class="heading-3 _page-link">3- xxx</a></li>
						</ul>
					</div>
					<div class="box-1">
						<p class="mb-20 font-m">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
					</div>
					-->
				</div>
			</div>
		</div>
	</section>

</BaseLayout>
