---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="歯並び・かみ合わせの大切さ" currentPage="kamiawase">

	<section>
		<div class="box p-30-0">
			<div class="flex-start-end mb-30">
				<div class="col-md-4 p-4">
					<h2 class="heading-1 indent-2">Occlusion</h2>
				</div>
				<div class="col-md-4 p-4">
					<div class="heading-2"><h2>歯並び・かみ合わせの大切さ</h2></div>
				</div>
			</div>
			<div class="flex">
				<div class="col-md-4 p-10">
					<figure>
						<a href=""></a>
						<figcaption><a href="" class="font-1">歯並び・かみ合わせの大切さ</a></figcaption>
					</figure>
				</div>
				<div class="col-md-8 p-10">
					<div class="box-1 mb-30">
						<h3 class="heading-4 mb-20">歯並び・かみ合わせの大切さ　目次</h3>
						<ul>
							<li class="mb-10 indent-2"><a href="#kamiawase-1" class="heading-3 _page-link">1- 見た目の美しさ</a></li>
							<li class="mb-10 indent-2"><a href="#kamiawase-2" class="heading-3 _page-link">2- 食べ物が良く噛める</a></li>
							<li class="mb-10 indent-2"><a href="#kamiawase-2" class="heading-3 _page-link">3- 健康な歯を維持</a></li>
							<li class="mb-10 indent-2"><a href="#kamiawase-2" class="heading-3 _page-link">4- 会話時の発音</a></li>
							<li class="mb-10 indent-2"><a href="#kamiawase-2" class="heading-3 _page-link">5- 顎関節症</a></li>
						</ul>
					</div>
					<div class="box-1">
						<div class="mb-20 font-m">
							<p>歯並び・かみ合わせが悪いことによる悩みは、誰にでもあるのではないでしょうか？</p>
							<p>特に現代の日本人は、お口に対して何かしらのコンプレックスを抱えている傾向にあります。</p>
							<p>歯並び・かみ合わせの治療は、<strong>見た目（審美）として美しくなる</strong>だけではなく、<strong>良く噛める（機能）としても非常に大事</strong>です。</p>
							<p>さらにこの治療によって今まで抱えていたコンプレックスの解放にもつながりため心の治療にもなり、まさに<strong>生まれ変わりの治療</strong>と言えるでしょう。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="kamiawase-1">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">1- 見た目の美しさ</h3>
				</div>
				<div class="col-md-8 p-4">
					<section>
						<div class="box-1 mb-20 font-m">
							<p>矯正治療をして一番実感されることは、やはり歯並びの美しさでしょう。</p>
							<p>今まででこぼこな歯並びで、人と会話をする際に「見られているかもしれない」とコンプレックスを感じて、思いっきり笑うことができないと思う方も少なくはないでしょう。</p>
							<p>矯正治療により<strong>美しい歯並びになり人の目を気にしなくなる</strong>ことはとても大きなメリットとなるでしょう。</p>
							<p>また、前歯の出っ張りや反対のかみ合わせなどによって、出っ張った唇・空いたままの口・下あごが引っ込んでいるまたは出っ張っているなどの口元の状態にもコンプレックスを抱える方ももちろんいるでしょう。</p>
							<p>この<strong>コンプレックスも矯正治療によって改善できる</strong>のです。</p>
							<p>この改善は口元が変わるためお顔の変化につながります。このような口元の美しさも非常に大きなメリットでしょう。</p>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<section id="kamiawase-2">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">2- 食べ物が良く噛める</h3>
				</div>
				<div class="col-md-8 p-4">
					<section>
						<div class="box-1 mb-20 font-m">
							<p> 矯正治療は機能的な面も十分考慮して治療をします。</p>
							<p>治療によって１本１本の歯がしっかりと噛める状態になるため、<strong>どの部分でも自然な状態で噛み切れる快適さ</strong>が得られます。</p>
							<p>今までは下あごを動かして無理な位置で噛んだり、右or左の噛みやすい方でしか噛まない、前歯で噛み切れないので唇を使って噛み切るなどを当たり前と思っていた方には、信じられないほど楽に噛めるようになります。</p>
							<p>咀嚼機能は健康を維持するためには、欠かすことのできない機能です。</p>
							<p><strong>「良く噛める」ことを得ることは健康を得る</strong>ことです。</p>
							<p>将来もずっとおいしいものを食べ続けるためには、とてもメリットの大きな治療となります。</p>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<section id="kamiawase-3">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">3- 健康な歯を維持</h3>
				</div>
				<div class="col-md-8 p-4">
					<section>
						<div class="box-1 mb-20 font-m">
							<p>別の項ででこぼこスパイラルに関して説明しましたが、悪い歯並び・かみ合わせの放置は、将来的に健康な歯を失う可能性が大になります。</p>
							<p>矯正治療は健康な歯で良い歯並び・噛み合わせを得ることが理想です。</p>
							<p>従って<strong>将来のご自分の歯の為に矯正治療はとてもメリット</strong>があります </p>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<section id="kamiawase-4">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">4- 会話時の発音</h3>
				</div>
				<div class="col-md-8 p-4">
					<section>
						<div class="box-1 mb-20 font-m">
							<p>発音は、舌の動き・位置のよって発せられます。</p>
							<p>従って上下の前歯が、噛みあっていなかったり、<strong>かみ合わせが反対だと正常な発音が難しく</strong>なります。</p>
							<p>これは普段の日常会話だけならまだしも、グローバル化を考慮すると英会話においては障害が出ることは少なくないでしょう。</p>
							<p>将来自信を持ってコミュニケーションを取るためにもメリットのある治療と言えるでしょう。 </p>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<section id="kamiawase-5">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">5- 顎関節症</h3>
				</div>
				<div class="col-md-8 p-4">
					<section>
						<div class="box-1 mb-20 font-m">
							<p>お口が開けづらくなったり、肩や首がこるなどの症状が出る病気が、顎関節症と言われています。</p>
							<p>この原因として、かみ合わせの異常・生まれつきあごや顔にゆがみがある・あごの関節の異常・歯ぎしり、食いしばりなどの癖・精神的なストレスなど多数が挙げられます。</p>
							<p>これらの原因が複数関わってくると顎関節症となります。</p>
							<p>矯正治療によってこの顎関節症が完治することは残念ながらありません。</p>
							<p>しかしながら原因によっては矯正治療によって効果が得られることがあります。</p>
							<p><strong>顎関節症でお悩みの方は是非一度ご相談して下さい。</strong></p>
							<p>治療によって緩和されるのならば、とても大きなメリットとなるでしょう。 </p>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>


</BaseLayout>
