---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="矯正担当" currentPage="orthodoctor">

	<section id="orthodoctor-1">
		<div class="box p-30-0">
			<div class="flex-start-center">
				<div class="col-md-4 p-4 font-2">
					DOCTOR
				</div>
				<div class="col-md-8 p-4">
					<img src="/tem/images/tod_dr.jpg" width="720" height="480" alt="矯正担当医" loading="lazy" />
					<p class="mb-30">TODセンター矯正グループ所属のドクターが、相談から診療・治療まで行います。<br />矯正専門グループなので、様々な症例や症状などを診療していますのでお困りの症状から治療の相談までお気軽にお申し付けください。</p>
				</div>
			</div>
		</div>
	</section>
	
	<section id="orthodoctor-1">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h2 class="heading-1 indent-2 mb-10">PROFILE</h2>
					<h2 class="font-s">プロフィール</h2>
				</div>
				<div class="col-md-8 p-4">
					<img src="/tem/images/tod_img.jpg" width="720" height="397" alt="プロフィール" loading="lazy" />
					<p class="mb-30">私たちは歯科矯正のスタディグループを開き、矯正医から一般歯科の先生方も実技を含む講座や勉強会などを行っています。矯正治療から技工物までトータルでご提供することができることにより、より患者様への細かい治療・サポートを心がけております。</p>
				</div>
			</div>
		</div>
	</section>

</BaseLayout>
