---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="費用案内" currentPage="price">

	<section>
		<div class="box p-60-6">
			<div class="flex-start-end mb-30">
				<div class="col-md-4 p-4">
					<h2 class="heading-1 indent-2">Price</h2>
				</div>
				<div class="col-md-4 p-4">
					<div class="heading-2"><h2>費用案内</h2></div>
				</div>
			</div>
			<div class="flex">
				<div class="col-md-4 p-10">
					<figure>
						<a href=""><img loading="lazy" src="/tem/images/img1.jpg" width="" height="" alt=""></a>
					</figure>
				</div>
				<div class="col-md-8 p-10">
					<div class="box-1 mb-30">
						<h3 class="heading-4 mb-20">費用案内　目次</h3>
						<ul>
							<li class="mb-10 indent-2"><a href="#price-1" class="heading-3 _page-link">1- 矯正相談について</a></li>
							<li class="mb-10 indent-2"><a href="#price-2" class="heading-3 _page-link">2- 矯正検査診断</a></li>
							<li class="mb-10 indent-2"><a href="#price-3" class="heading-3 _page-link">3- 小児矯正</a></li>
							<li class="mb-10 indent-2"><a href="#price-4" class="heading-3 _page-link">4- スタンダードプラン</a></li>
							<li class="mb-10 indent-2"><a href="#price-5" class="heading-3 _page-link">5- ホワイトワイヤープラン</a></li>
							<li class="mb-10 indent-2"><a href="#price-6" class="heading-3 _page-link">6- ハーフリンガルプラン</a></li>
							<li class="mb-10 indent-2"><a href="#price-7" class="heading-3 _page-link">7- フルリンガルプラン</a></li>
							<li class="mb-10 indent-2"><a href="#price-8" class="heading-3 _page-link">8- アライナー型マウスピース(簡易型)</a></li>
							<li class="mb-10 indent-2"><a href="#price-9" class="heading-3 _page-link">9- アライナー型マウスピース(進化型)</a></li>
							<li class="mb-10 indent-2"><a href="#price-10" class="heading-3 _page-link">10- カリエール</a></li>
							<li class="mb-10 indent-2"><a href="#price-11" class="heading-3 _page-link">11- 矯正用インプラント</a></li>
							<li class="mb-10 indent-2"><a href="#price-12" class="heading-3 _page-link">12- 抜歯</a></li>
							<li class="mb-10 indent-2"><a href="#price-13" class="heading-3 _page-link">13- 矯正のシミュレーション</a></li>
							<li class="mb-10 indent-2"><a href="#price-14" class="heading-3 _page-link">14- 矯正装置代　分割支払いについて</a></li>
						</ul>
					</div>
					<div class="box-1">
						<p class="font-m">新潟西歯科クリニックでは患者様に合わせた治療をおこなっております。</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section>
		<ul>
			<li id="price-1">
				<div class="box p-60-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">1-矯正相談について</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<!--<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/img1.jpg" width="200" height="" alt=""></div>
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/img1.jpg" width="200" height="" alt=""></div>-->
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>矯正相談時には専属コンシェルジェがご一緒します。矯正相談にかかる時間は20〜30分ほどです。</p>
								<br />
								<p>詳しくは<a href="/tem/flow/">こちら</a>をご覧ください。</p>
								<br />
								<p>※未成年の相談患者様へ</p>
								<p>当院では未成年の患者様のみの相談も承っております。</p>
								<p>治療内容によっては保護者の方のご理解も必要となりますので、可能な限りご一緒にご相談頂けますと幸いです。</p>
							</div>
							<table class="table">
								<tr><th class="col-2">矯正相談</th><td class="right col-10">無料</td>
							</table>
						</div>
					</div>
				</div>
			</li>
			
			<li id="price-2">
				<div class="box p-60-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">2-矯正検査診断</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<!--<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/img1.jpg" width="200" height="" alt=""></div>
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/img1.jpg" width="200" height="" alt=""></div>-->
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>レントゲンなどの検査を行い、検査結果を分析したうえで矯正認定医が診断し、治療法などを説明していきます</p>
							</div>
							<table class="table">
								<tr><th class="col-2">矯正検査診断</th><td class="right col-10">￥27,500円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
			
			<li id="price-3">
				<div class="box p-60-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">3-小児矯正</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/s_tod_01.jpg" width="200" height="" alt=""></div>
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/s_tod_02.jpg" width="200" height="" alt=""></div>
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>取り外し式の装置、簡単な装置で歯並びを治します。上下合わせての料金です。</p>
								<p>調整料金は装置をつけている間の来院時必要です。</p>
							</div>
							<table class="table">
								<tr><th class="col-2">装置料</th><td class="right col-10">¥308,000円<br class="md" />（税込）</td></tr>
								<tr><th class="col-2">調整料</th><td class="right col-10">毎月 ¥5,500円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
			
			<li id="price-4">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">4-スタンダードプラン</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/ad_01.jpg" width="200" height="" alt=""></div>
								<!--<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/img1.jpg" width="200" height="" alt=""></div>-->
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>マルチブラケット装置という固定式の矯正装置をつけて治療を行います。歯磨きがしにくくなるので、しっかりとしたケアが必要です。</p>
							</div>
							<table class="table">
								<tr><th class="col-2">装置代総額(スタンダードプラン)</th><td class="right col-10">¥693,000円<br class="md" />（税込）</td></tr>
								<tr><th class="col-2">調節料(スタンダードプラン)</th><td class="right col-10">毎月 ¥5,500円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
		
			<li id="price-5">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">5-ホワイトワイヤープラン</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/w_tod_01.jpg" width="200" height="" alt=""></div>
								<!--<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/img1.jpg" width="200" height="" alt=""></div>-->
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>ホワイトワイヤーを使用して治療を行います。目立たずおしゃれなので人気があります。</p>
							</div>
							<table class="table">
								<tr><th class="col-2">装置代総額(ホワイトワイヤープラン)</th><td class="right col-10">¥693,000円<br class="md" />（税込）</td></tr>
								<tr><th class="col-2">調節料(ホワイトワイヤープラン)</th><td class="right col-10">毎月 ¥7,150円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
		
			<li id="price-6">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">6-ハーフリンガルプラン</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/h_tod_01.jpg" width="200" height="" alt=""></div>
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/h_tod_02.jpg" width="200" height="" alt=""></div>
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>「ハーフリンガルプラン」は、上は裏側、下は表側のハーフリンガルプランです。下は下唇があるので目立たなくおすすめです。</p>
							</div>
							<table class="table">
								<tr><th class="col-2">装置代総額(ハーフリンガルプラン)</th><td class="right col-10">¥935,000円<br class="md" />（税込）</td></tr>
								<tr><th class="col-2">調節料(ハーフリンガルプラン)</th><td class="right col-10">毎月 ¥9,350円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
			
			<li id="price-7">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">7-フルリンガルプラン</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/f_tod_01.jpg" width="200" height="" alt=""></div>
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/f_tod_02.jpg" width="200" height="" alt=""></div>
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>「フルリンガルプラン」は、上下とも裏側のプランです。表側からは矯正していることが全くわかりません。</p>
							</div>
							<table class="table">
								<tr><th class="col-2">装置代総額(フルリンガルプラン)</th><td class="right col-10">¥1,210,000円<br class="md" />（税込）</td></tr>
								<tr><th class="col-2">調節料(フルリンガルプラン)</th><td class="right col-10">毎月 ¥11,000円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
			
			<li id="price-8">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">8-アライナー型マウスピース<br />(簡易型)</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/a_tod_01.jpg" width="200" height="" alt=""></div>
								<!--<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/img1.jpg" width="200" height="" alt=""></div>-->
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>透明なマウスピースを使用して歯を並べる矯正治療です。透明なので目立ちにくく取外しも出来るので便利です。歯を抜かないで症例に適用した装置です。</p>
							</div>
							<table class="table">
								<tr><th class="col-2">装置代総額(クリアライナープラン)</th><td class="right col-10">¥550,000円<br class="md" />（税込）</td></tr>
								<tr><th class="col-2">調節料(クリアライナープラン)</th><td class="right col-10">毎月 ¥5,500円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
			
			<li id="price-9">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">9-アライナー型マウスピース<br />(進化型)</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/st_06.jpg" width="200" height="" alt=""></div>
								<!--<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/st_07.jpg" width="200" height="" alt=""></div>-->
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>新しいシステム、歯を抜く症例にも適用可能な全般的な治療が可能。</p>
							</div>
							<table class="table">
								<tr><th class="col-2">装置代総額</th><td class="right col-10">¥825,000円<br class="md" />（税込）</td></tr>
								<tr><th class="col-2">調整代</th><td class="right col-10">¥6,600円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
			
			<li id="price-10">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">10-カリエール</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/ca_001.jpg" width="200" height="" alt=""></div>
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/ca_002.jpg" width="200" height="" alt=""></div>
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>最新のオプション装置です。</p>
								<p>使用によって以下のメリットが見出せます</p>
								<ul>
									<li>・全体的に装置を使用しなくても改善可能</li>
									<li>・抜歯をしなくても改善可能</li>
									<li>・治療期間の短縮</li>
								</ul>
								<p>が見込めます</p>
							</div>
							<table class="table">
						<tr><th class="col-2">費用:メタル </th><td class="right col-10">¥33,000円<br class="md" />（税込）</td></tr>
						<tr><th class="col-2">費用:クリア </th><td class="right col-10">¥44,000円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
			<li id="price-11">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">11-矯正用インプラント</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="flex">
								<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/i_tod_01.jpg" width="200" height="" alt=""></div>
								<!--<div class="center col-md-6 mb-10"><img loading="lazy" src="/tem/images/img1.jpg" width="200" height="" alt=""></div>-->
							</div>
						</div>
					</div>
					<div class="font-m mb-30 flex">
						<div class="col-md-4">
						</div>
						<div class="box-1 col-md-8">
							<div class="mb-30">
								<p>矯正用インプラント詳しくは<a href="/tem/adult/#adult-5">コチラ</a></p>
							</div>
							<table class="table">
								<tr><th class="col-2">矯正用インプラント</th><td class="right col-10">￥110,000円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
			
			<li id="price-12">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">12-抜歯</h3>
						</div>
						<div class="box-1 col-md-8">
							<table class="table">
								<tr><th class="col-2">便宜抜歯</th><td class="right col-10">￥5,500円<br class="md" />（税込）</td></tr>
							</table>
						</div>
					</div>
				</div>
			</li>
			
			<li id="price-13">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">13-矯正のシミュレーション</h3>
						</div>
						<div class="col-md-8 p-4">
							<h4>子供の矯正の例</h4>
							
							<h4>通常のワイヤー矯正(表側)の例</h4>
							
							<h4>見えない矯正(裏側)の例</h4>
						</div>
					</div>
				</div>
			</li>
		
			<li id="price-14">
				<div class="box p-30-6">
					<div class="flex mb-30">
						<div class="col-md-4 p-4">
							<h3 class="heading-1 mb-10">14-矯正装置代<br />分割支払いについて</h3>
						</div>
						<div class="col-md-8 p-4">
							<div class="box-1 font-m mb-30">
								<h5>当院の分割払いはオリジナルシステムです</h5>
								<div class="">非常に多くの方にご利用いただいております！</div>
							</div>
							<h4 class="heading-5 mb-10">特徴１　当院との契約</h4>
							<div class="box-1 font-m mb-30">
								分割払いの場合、通常はクレジット会社を通すデンタルローンが一般的です。
								当院はクレジット会社を通さずに医院と患者様との間で契約を結びますので、以下のようなさまざまなメリットがあります。
								・審査が必要ないため、どなたでも適応可能・手数料が全くかからない・支払う配分を途中で変更も可能
							</div>
							<h4 class="heading-5 mb-10">特徴２　治療内容に沿った分割設定</h4>
							<div class="box-1 font-m mb-30">
								<p>当院の分割設定は、矯正治療期間に準じています。</p>
								<p>治療期間によって来院回数が予測されますので（月に一度の来院）、その予測される来院回数が分割の上限回数となります。</p>
								<p>つまり患者様の治療内容によって治療期間も異なりますので、上限分割回数も異なることになります。</p>
								<p><span class="">例えば治療期間２年の内容をご希望された場合<br />
									<u>▶︎ 予測来院回数は２４回 ▶︎ 分割上限回数２４回</u><br /></span>
								となります。</p>
								<p>この２４回までであればお支払い額を自由に設定可能です。さらに途中で変更することも可能です。</p>
								<p>矯正治療を検討したいのに支払いで悩んでいる方は、ぜひご検討ください。</p>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</section>

</BaseLayout>
