---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="悪い歯並びでおこること" currentPage="waruihanarabi">

	<section>
		<div class="box p-30-0">
			<div class="flex-start-end mb-30">
				<div class="col-md-4 p-4">
					<h2 class="heading-1 indent-2">Teeth Alignment</h2>
				</div>
				<div class="col-md-4 p-4">
					<div class="heading-2"><h2>悪い歯並びでおこること</h2></div>
				</div>
			</div>
			<div class="flex">
				<div class="col-md-4 p-10">
					<figure>
						<a href=""></a>
						<figcaption><a href="" class="font-1">悪い歯並びでおこること</a></figcaption>
					</figure>
				</div>
				<div class="col-md-8 p-10">
					<div class="box-1 mb-30">
						<h3 class="heading-4 mb-20">悪い歯並びでおこること　目次</h3>
						<ul>
							<li class="mb-10 indent-2"><a href="#alignment-1" class="heading-3 _page-link">1- でこぼこスパイラル</a></li>
						</ul>
					</div>
					<div class="box-1">
						<div class="mb-20 font-m">
							<p>歯並びに関してみなさんはどのようにお考えでしょうか？</p>
							<p>見た目として「でこぼこ」が気になると思う方は多数いらっしゃるでしょう。</p>
							<p>しかしながら<strong>将来的な予防として考えていらっしゃる方は少ない</strong>のではないでしょうか。</p>
							<p>歯並びは見た目だけでの問題ではありません。</p>
							<p>悪い歯並びには将来のことを含めた良くないスパイラル（悪循環）が存在します。</p>
							<p>以下にでこぼこによるスパイラル（でこぼこスパイラル）についてご説明します。</p>
							<p>是非ともでこぼこスパイラルになる前にご相談して下さい</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="alignment-1">
		<div class="box p-30-0">
			<div class="flex mb-30">
				<div class="col-md-4 p-4">
					<h3 class="heading-1 mb-10">1- でこぼこスパイラル</h3>
				</div>
				<div class="col-md-8 p-4">
					<section>
						<div class="box-1 mb-20 font-m">
								<ul class="center">
									<li>お口の中にでこぼこの歯並びがある
									<div class="m-10"><i class="fas fa-chevron-down"></i></div></li>
									<li>歯と歯が重なって歯ブラシが届かない部位ができる
									<div class="m-10"><i class="fas fa-chevron-down"></i></div></li>
									<li>菌が溜まり虫歯になる
									<div class="m-10"><i class="fas fa-chevron-down"></i></div></li>
									<li>不明瞭の部位なため虫歯の治療も確実とならない
									<div class="m-10"><i class="fas fa-chevron-down"></i></div></li>
									<li>予後が悪く歯周病となり、さらなる治療が必要となる
									<div class="m-10"><i class="fas fa-chevron-down"></i></div></li>
									<li>将来的に抜歯となり、補綴物による処置となる
									<div class="m-10"><i class="fas fa-chevron-down"></i></div></li>
									<li>でこぼこの部位への補綴物なため、確実な物とはならない
									<div class="m-10"><i class="fas fa-chevron-down"></i></div></li>
									<li>補綴物の不都合が生じやすいため、定期的な交換が必要</li>
								</ul>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
	

</BaseLayout>
